@model DataModel.UsersModel
<!-- toggle -->


<script src="~/Scripts/custom/users/users.js"></script>

<div class="card">
    <div class="card-body">
        <form id="frmCourse">
            @Html.HiddenFor(m => m.UserId)
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <div >
                            @{
                                var profilePic = Model.Photo ?? "/Common/profile.jpg";
                            }
                            <img id="profileimg" class="rounded-circle mt-5" width="150px" src="@profilePic" />
                        </div>
                        <span id="spanname" class="font-weight-bold">
                            @(Model.UserId == 0 ? "Your name" : Model.UserName)
                        </span>
                        <span id="spanemail" class="text-black-50">
                            @(Model.UserId == 0 ? "your@mail.com.my" : Model.EmailId)
                        </span>
                        <span> </span>
                        <input id="fileupload" style="display: none" type="file" />
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">User profile</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>
                                @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Name", @class = "form-control", @required = "required" })
                                <label style="display: " id="UserName-error" class="error jquery-validation-error small form-text invalid-feedback" for="UserName">This field is required.</label>

                            </div>
                            <div class="col-md-6">
                                <label class="labels">Password</label>
                                @Html.TextBoxFor(m => m.Password, new { @type = "password", @placeholder = "PASSWORD", @class = "form-control", @required = "required" })
                                <label style="display: " id="Password-error" class="error jquery-validation-error small form-text invalid-feedback" for="Password">This field is required.</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Father's Name</label>
                                @Html.TextBoxFor(m => m.FatherName, new { @placeholder = "Name", @class = "form-control", @required = "required" })
                                <label style="display: " id="FatherName-error" class="error jquery-validation-error small form-text invalid-feedback" for="FatherName">This field is required.</label>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Gender</label><br />
                                <input class="chktoggle" @(Model.Gender ?? true ? "checked" : "") type="checkbox" id="Gender"
                                       name="GENDER" data-size="sm" data-toggle="toggle" data-on="Male" data-off="Female"
                                       data-onstyle="outline-success" data-offstyle="outline-primary">

                            </div>
                            <div class="col-md-6">
                                <label class="labels">DOB</label>
                                @Html.TextBoxFor(m => m.Dob, Model.Dob.Value.ToString("dd/MM/YYYY"), new { @class = "form-control" })
                                <label style="display: " id="Dob-error" class="error jquery-validation-error small form-text invalid-feedback" for="Dob">This field is required.</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Contact 1</label>
                                @Html.TextBoxFor(m => m.Contact1, new { @maxlength = "10", @placeholder = "CONTACT1", @class = "form-control", @required = "required" })
                                <label style="display: " id="Contact1-error" class="error jquery-validation-error small form-text invalid-feedback" for="CONTACT1">This field is required.</label>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Contact 2</label>
                                @Html.TextBoxFor(m => m.Contact1, new { @maxlength = "10", @placeholder = "CONTACT2", @class = "form-control", @required = "required" })
                                <label style="display: " id="Contact1-error" class="error jquery-validation-error small form-text invalid-feedback" for="Contact1">This field is required.</label>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Email</label>
                                @Html.TextBoxFor(m => m.EmailId, new { @type = "email", @placeholder = "EMAIL ID", @class = "form-control", @required = "required" })
                                <label style="display: " id="EmailId-error" class="error jquery-validation-error small form-text invalid-feedback" for="EmailId">This field is required.</label>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Address</label>
                                @Html.TextAreaFor(m => m.Address, new { @placeholder = "ADDRESS", @class = "form-control", @required = "required", @rows = 5 })
                                <label style="display: " id="Address-error" class="error jquery-validation-error small form-text invalid-feedback" for="Address">This field is required.</label>
                            </div>

                        </div>

                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" id="btnSaveUser" type="button">Save Profile</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>Edit Experience</span>
                            <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span>
                        </div><br>
                        <div class="col-md-12">
                            <label class="labels" style="width: 140px">Branch</label>
                            @Html.DropDownListFor(m => m.BranchId, Model.BranchDD, "Select Branch", new { @class = "frmselect col-md-5" })
                            @Html.HiddenFor(m => m.BranchId)
                            <label style="display: " id="BranchId-error" class="error jquery-validation-error small form-text invalid-feedback" for="BranchId">This field is required.</label>
                        </div> <br>
                        <div class="col-md-12">
                            <label class="labels" style="width: 140px">Designation</label>
                            @Html.DropDownListFor(m => m.DesignationId, Model.DesignationDD, "Select Designation", new { @class = "frmselect col-md-5" })
                            @Html.HiddenFor(m => m.DesignationId)
                            <label style="display: " id="DesignationId-error" class="error jquery-validation-error small form-text invalid-feedback" for="DesignationId">This field is required.</label>
                        </div>
                        <div class="col-md-12 mt-4">
                            @*<label class="labels">Activate</label>*@
                            <input class="chktoggle" @(Model.Isactive ?? true ? "checked" : "") type="checkbox" id="Isactive"
                                   name="Isactive" data-size="sm" data-toggle="toggle" data-on="Active" data-off="Inactive"
                                   data-onstyle="outline-success" data-offstyle="outline-danger">
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
